@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#firstComponent {
  background-image: url(./images/bg3.png);
}

.min-h-112 {
  min-height: 48rem;
}

.max-h-112 {
  min-height: 48rem;
}
